body {
  background-image: url("Pictures/Kalos_Pokedex.png");
}
h1 {
  font-style:italic;
  font-weight:bold;
  font-size:40px;
  text-align:center;
  padding: 30px;
  background-image: url("Pictures/Hoenn_Starters2.0.png");
  background-repeat: round;

}
ul {
list-style-type:none;
margin:0;
padding:5px;
overflow:hidden;
background-color:silver;
}
li {
  float:left;
}
li a, .dropttn {
  display:inline-block;
  color:blue;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-image:url("Pictures/Pokeball2.0.png");
  background-repeat:round;
}
.active {
  background-image:url("Pictures/Pokeball2.0.png");
  background-repeat:round;
}
li.dropdown {
  display:inline-block;
}
.dropdown-content {
  display:none;
  position:absolute;
  background-color:silver;
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color:blue;
  padding:12px 16px;
  text-decoration: none;
  display:block;
  text-align:left;
}
.dropdown-content a:hover {background-image:url("Pictures/Pokeball2.0.png")}
.dropdown:hover .dropdown-content {
  display:block;
}
#Legendaries {
  position: relative;
  animation-name: movement;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes movement {
  0% {left:0px; top:0px;}
  25% {left:600px; top:0px;}
  50% {left:0px; top:0px;}
  75% {left:600px; top:0px;}
  100% {left:0px; top:0px;}
}
